services:
  keycloak:
    image: ghcr.io/aivot-digital/keycloak-egov-plugins:26.4.2.0
    restart: always
    command: [ 'start-dev' ]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: true
      KC_HTTP_PORT: 8080
      KC_HOSTNAME: http://localhost:8080
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: false
      KC_FEATURES: transient-users,update-email,hostname:v2
    volumes:
      - password_blacklists:/opt/keycloak/data/password-blacklists/
    ports:
      - "8080:8080"

  keycloak-setup:
    image: ghcr.io/aivot-digital/keycloak-egov-plugins-setup:0.0.9
    depends_on:
      - keycloak
    restart: on-failure
    environment:
      KEYCLOAK_URL: "http://keycloak:8080"

      KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD: "admin"

      KEYCLOAK_DEPLOYMENT_CLIENT_NAME: "deployment"
      KEYCLOAK_DEPLOYMENT_CLIENT_SECRET: "my-super-secret-key"

      KEYCLOAK_ADMIN_EMAIL: "mail@aivot.de"
      KEYCLOAK_ADMIN_USERNAME: "master_admin"
      KEYCLOAK_ADMIN_PASSWORD: "awdawed!12312f1wecEb1ce9b1w9pxv1xw9p1wx9vzy1b9u1" # Darf kein $-Zeichen enthalten

      KEYCLOAK_AVAILABILITYCHECK_ENABLED: true
      KEYCLOAK_AVAILABILITYCHECK_TIMEOUT: "120s"
      LOGGING_LEVEL_HTTP: "INFO"

      SMTP_HOST: "smtp.example.com"
      SMTP_PORT: "587"
      SMTP_USERNAME: "test"
      SMTP_PASSWORD: "test"
      SMTP_FROM: "test"
      SMTP_FROM_DISPLAY: "Mail Test"
      HOSTNAME: "http://localhost:8080"
      BACKEND_CLIENT_SECRET: "my-super-secret-key"
    volumes:
      - password_blacklists:/password-blacklists

volumes:
  password_blacklists: