services:
  keycloak:
    image: ghcr.io/aivot-digital/keycloak-egov-plugins:26.4.2.0
    restart: unless-stopped
    command: [ 'start-dev' ]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: true
      KC_HTTP_PORT: 8080
      KC_HOSTNAME: http://localhost:8080
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: false
      KC_FEATURES: transient-users,update-email,hostname:v2
    volumes:
      - password_blacklists:/opt/keycloak/data/password-blacklists/
    ports:
      - "8080:8080"

  keycloak-setup:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - keycloak
    restart: no
    environment:
      KEYCLOAK_URL: "http://keycloak:8080"

      KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD: "admin"

      KEYCLOAK_DEPLOYMENT_CLIENT_NAME: "deployment"
      KEYCLOAK_DEPLOYMENT_CLIENT_SECRET: "my-super-secret-key"

      KEYCLOAK_ADMIN_EMAIL: "mail@aivot.de"
      KEYCLOAK_ADMIN_USERNAME: "master_admin"
      KEYCLOAK_ADMIN_PASSWORD: "awdawed!12312f1wecEb1ce9b1w9pxv1xw9p1wx9vzy1b9u1" # Darf kein $-Zeichen enthalten

      KEYCLOAK_AVAILABILITYCHECK_ENABLED: true
      KEYCLOAK_AVAILABILITYCHECK_TIMEOUT: "120s"
      LOGGING_LEVEL_HTTP: "INFO"

      SMTP_HOST: "smtp"
      SMTP_PORT: "1025"
      SMTP_USERNAME: "test"
      SMTP_PASSWORD: "test"
      SMTP_FROM: "test@aivot.de"
      SMTP_FROM_DISPLAY: "Mail Test"
      HOSTNAME: "http://localhost:8080"
      BACKEND_CLIENT_SECRET: "my-super-secret-key"
    volumes:
      - password_blacklists:/password-blacklists

  smtp:
    image: axllent/mailpit:v1.27.10
    restart: unless-stopped
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    ports:
      - "8025:8025"

volumes:
  password_blacklists:
