# Konfiguriere den Master Realm mit dem korrekten Setup für den Produktionseinsatz
realm: "master"
displayName: "Gover Administration"
displayNameHtml: "<div class=\"kc-logo-text\"><span>Gover Administration</span></div>"

# Aktiviere den Realm
enabled: true

# Verbiete die Registrierung neuer Nutzer:innen sodass nur Administrator:innen Nutzer:innen anlegen können
registrationAllowed: false
# Verbiete das Zurücksetzen von Passwörtern durch Nutzer:innen
resetPasswordAllowed: false
# Verbiete die Option "Remember Me" im Login-Formular
rememberMe: false

# Erlaube Logins per Username und E-Mail-Adresse
registrationEmailAsUsername: false
loginWithEmailAllowed: true
verifyEmail: true
duplicateEmailsAllowed: false
# Erlaube die Bearbeitung des Nutzernamens durch Nutzer:innen damit diese eigenständig Ihre E-Mail-Adresse ändern können.
# Dies ist notwendig, da wir die E-Mail-Adresse als Nutzernamen verwenden.
editUsernameAllowed: true

# Setze die SMTP-Einstellungen für den E-Mail-Versand
smtpServer:
  host: "$(env:SMTP_HOST)"
  port: "$(env:SMTP_PORT)"
  user: "$(env:SMTP_USERNAME)"
  password: "$(env:SMTP_PASSWORD)"
  auth: "true"
  starttls: "true"
  ssl: "false"
  replyTo: ""
  replyToDisplayName: ""
  from: "$(env:SMTP_FROM)"
  fromDisplayName: "$(env:SMTP_FROM_DISPLAY)"
  envelopeFrom: ""

# Setze die Themes für den Realm damit das Corporate Design verwendet wird
loginTheme: "gover"
accountTheme: "gover"
adminTheme: "gover"
emailTheme: "keycloak"

# Setze Lokalisierungseinstellungen damit deutsche Texte verwendet werden
internationalizationEnabled: true
supportedLocales:
  - "de"
  - "en"
defaultLocale: "de"

# Setze die Brute Force Richtlinien
bruteForceProtected: true # Aktiviert den Brute-Force-Schutz
permanentLockout: false   # Setzt den Brute-Force-Schutz auf temporär
maxTemporaryLockouts: 0   # Unbegrenzt viele temporäre Sperrungen
failureFactor: 30 # Die Anzahl der Fehlversuche bevor eine temporäre Sperrung erfolgt
bruteForceStrategy: "MULTIPLE"
waitIncrementSeconds: 60 # 1 Minute
maxFailureWaitSeconds: 900 # 15 Minuten
maxDeltaTimeSeconds: 43200 # 12 Stunden
quickLoginCheckMilliSeconds: 1000 # 1 Sekunde
minimumQuickLoginWaitSeconds: 60 # 1 Minute

# Setzte die Session Einstellungen um Mitarbeiter:innen nicht unnötig oft abzumelden
ssoSessionIdleTimeout: 1800 # 30 Minuten
ssoSessionMaxLifespan: 36000 # 10 Stunden
ssoSessionIdleTimeoutRememberMe: 0 # Remember Me ist deaktiviert
ssoSessionMaxLifespanRememberMe: 0 # Remember Me ist deaktiviert
accessCodeLifespan: 60 # 1 Minute
accessCodeLifespanLogin: 1800 # 30 Minuten
accessCodeLifespanUserAction: 300 # 5 Minuten
accessTokenLifespan: 300 # 5 Minuten
accessTokenLifespanForImplicitFlow: 900 # 15 Minuten

# Setze Details zur Offline Session
offlineSessionIdleTimeout: 0 # Deaktiviert die Offline Session
offlineSessionMaxLifespanEnabled: false # Deaktiviert die Offline Session
offlineSessionMaxLifespan: 0 # Deaktiviert die Offline Session
clientOfflineSessionIdleTimeout: 0 # Deaktiviert die Offline Session
clientOfflineSessionMaxLifespan: 0 # Deaktiviert die Offline Session

# Setze die Passwort-Richtlinien für den Realm
passwordPolicy: "length(12) and upperCase(1) and lowerCase(1) and digits(1) and specialChars(1) and notUsername(undefined) and notEmail(undefined) and notContainsUsername(undefined) and maxAuthAge(0) and passwordBlacklist(100k_passwords.txt)"

# Aktiviere das User-Event-Logging für den Realm und setze die Aufbewahrungsdauer
eventsEnabled: true
eventsExpiration: 31536000
eventsListeners:
  - "jboss-logging"

# Aktiviere das Admin-Event-Logging für den Realm und setze die Aufbewahrungsdauer
adminEventsEnabled: true
adminEventsDetailsEnabled: false
attributes:
  adminEventsExpiration: "31536000"

users:
  # Deaktiviere den Standard-Admin Benutzer
  - username: "$(env:KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME)"
    enabled: false

  # Erzeuge einen neuen Admin Benutzer mit den in den Umgebungsvariablen definierten Zugangsdaten
  - username: "$(env:KEYCLOAK_ADMIN_USERNAME)"
    email: "$(env:KEYCLOAK_ADMIN_EMAIL)"
    emailVerified: false # E-Mail Verifizierung deaktivieren
    enabled: true
    totp: false
    disableableCredentialTypes: [ ]
    requiredActions: [ ]
    realmRoles:
      - "default-roles-master"
      - "admin"
    clientRoles: { }
    notBefore: 0
    groups: [ ]
    credentials:
      - type: "password"
        value: "$(env:KEYCLOAK_ADMIN_PASSWORD)"
        temporary: true

# Lege die Authentifizierungsflüsse für den Realm fest
authenticationFlows:
  {% for flow in flows %}
  - alias: "{{ flow.alias }}"
    description: "{{ flow.description }}"
    providerId: "basic-flow"
    topLevel: {% if flow.topLevel %}true{% else %}false{% endif %}
    builtIn: false
    authenticationExecutions:
      {% for exec in flow.authenticationExecutions %}
      - authenticatorFlow: {% if 'flowAlias' in exec %}true{% else %}false{% endif %}
        {% if 'aliasFlow' not in exec %}authenticator: {{ exec.authenticator }}{% endif %}
        {% if 'authenticatorConfig' in exec %}authenticatorConfig: {{ exec.authenticatorConfig.alias }}{% endif %}
        requirement: "{{ exec.requirement }}"
        priority: {{ exec.priority }}
        autheticatorFlow: {% if 'flowAlias' in exec %}true{% else %}false{% endif %}
        {% if 'flowAlias' in exec %}flowAlias: "{{ exec.flowAlias }}"{% endif %}
        userSetupAllowed: false
      {% endfor %}
  {% endfor %}

{% if is_prod %}
# Setze den Browser-Authentifizierungsfluss im Produktionsmodus auf den neuen Passwort und OTP Authentifizierungsfluss
browserFlow: "password and otp"
{% else %}
# Im Entwicklungsmodus wird der Standard-Authentifizierungsfluss verwendet, um das Testen zu erleichtern.
browserFlow: "browser"
{% endif %}

# Erlaube Passkeys als Authentifizierungsmethode (wird von Keycloak Config CLI v.6.4.0-26.1.0 nicht unterstützt)
# webAuthnPolicyPasswordlessPasskeysEnabled: true

{% if additional_authenticator_configs is defined and additional_authenticator_configs|length > 0 %}
authenticatorConfig:
    {% for config in additional_authenticator_configs %}
  - alias: "{{ config.alias }}"
    config:
      credentials: "{{ config.credentials }}"
    {% endfor %}
{% endif %}